:root {
  --yellow: #fae100;
  --red: #d91400;
  --red-light: #ec524b;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(255, 255, 255, 0.2);
  --main-font-color: rgba(255, 255, 255, 0.5);
}
